Repository andygrunwald/go-jira, changes with the labels that .github/labeler.yml gives for each.
All labels: jira-onpremise, jira-cloud, documentation

.github/labeler.yml:

jira-onpremise: onpremise/**/*
jira-cloud: cloud/**/*
documentation: docs/**/*

Fix for GetList
  cloud/issuelinktype.go
  onpremise/issuelinktype.go
  testing/mock-data/all_issuelinktypes.json
Labels: jira-onpremise, jira-cloud

Fix for GetList
  cloud/issuelinktype.go
  onpremise/issuelinktype.go
Labels: jira-onpremise, jira-cloud

export custom types in user service that are exposed in function signatures
  README.md
  cloud/user.go
Labels: jira-cloud

onpremise: fix tests for new functions
  onpremise/issue_test.go
  onpremise/user_test.go
Labels: jira-onpremise

onpremise: Fix Watchers struct and Get User functions
  onpremise/issue.go
  onpremise/user.go
Labels: jira-onpremise

Adds support for servicedeskapi request comments
  cloud/servicedesk.go
  cloud/servicedesk_test.go
Labels: jira-cloud

Add a function for fetching issue types from the new endpoint
  metaissue_issuetypes.go
Labels: none

chore(release): 1.15.2
  CHANGELOG.md
Labels: none

chore(release): 1.15.3
  CHANGELOG.md
Labels: none

Add GetFieldsForIssueType method
  metaissue_issuetypes.go
Labels: none

Remove erroneous issue comment properties
  cloud/issue.go
  onpremise/issue.go
Labels: jira-onpremise, jira-cloud

chore(release): 1.15.4
  CHANGELOG.md
Labels: none

Expand the FieldMeta type
  metaissue_issuetypes.go
Labels: none

chore(release): 1.15.5
  CHANGELOG.md
Labels: none

Split out types properly
  metaissue_issuetypes.go
Labels: none

Fix capitalisation of error string
  metaissue_issuetypes.go
Labels: none

chore(release): 1.15.6
  CHANGELOG.md
Labels: none

Make comment Author & UpdateAuthor properties pointers
  cloud/issue.go
  onpremise/issue.go
Labels: jira-onpremise, jira-cloud

Update go.mod
  go.mod
Labels: none

add GetListByProject func
  onpremise/component.go
Labels: jira-onpremise

feat: groups search
  cloud/group.go
  cloud/group_test.go
  cloud/searching.go
  cloud/user.go
Labels: jira-cloud

feat: actor group to listing project roles
  cloud/role.go
Labels: jira-cloud

feat: IsPrivate property to project
  cloud/project.go
Labels: jira-cloud

chore: remove total from find group
  cloud/group.go
  cloud/group_test.go
Labels: jira-cloud

feat: GetRoleActorsForProject
  cloud/role.go
  cloud/role_test.go
  testing/mock-data/role_actors.json
Labels: jira-cloud

adding empty interace to allow any value to parsed to it
  onpremise/request.go
Labels: jira-onpremise

feat: groupId to group
  cloud/group.go
  cloud/group_test.go
Labels: jira-cloud

feat: GetGroupMembers method
  cloud/group.go
  cloud/group_test.go
Labels: jira-cloud

feat: SearchProjects
  cloud/project.go
  cloud/project_test.go
Labels: jira-cloud

fix: missing group name for getting group members
  cloud/group.go
  cloud/group_test.go
Labels: jira-cloud

chore: add docs for project search
  cloud/project.go
Labels: jira-cloud

fix: group members query
  cloud/group.go
  cloud/group_test.go
Labels: jira-cloud

feat(issue): add statuscategorychangedate
  cloud/issue.go
Labels: jira-cloud

change go.mod to test
  go.mod
Labels: none

change some more pkg names
  cloud/examples/addlabel/main.go
  cloud/examples/basic_auth/main.go
  cloud/examples/component_create/main.go
  cloud/examples/component_get/main.go
  cloud/examples/create/main.go
  cloud/examples/createwithcustomfields/main.go
  cloud/examples/do/main.go
  cloud/examples/ignorecerts/main.go
  cloud/examples/jql/main.go
  cloud/examples/newclient/main.go
  cloud/examples/pagination/main.go
  cloud/examples/renderedfields/main.go
  cloud/examples/searchpages/main.go
  cloud/examples/statuscategories/main.go
  docs/installation.md
  onpremise/examples/addlabel/main.go
  onpremise/examples/basicauth/main.go
  onpremise/examples/bearerauth/main.go
  onpremise/examples/create/main.go
  onpremise/examples/createwithcustomfields/main.go
  onpremise/examples/do/main.go
  onpremise/examples/ignorecerts/main.go
  onpremise/examples/jql/main.go
  onpremise/examples/newclient/main.go
  onpremise/examples/pagination/main.go
  onpremise/examples/renderedfields/main.go
  onpremise/examples/searchpages/main.go
  onpremise/examples/statuscategories/main.go
Labels: jira-onpremise, jira-cloud, documentation

Add hierarchy level to issue type
  go.sum
  issue.go
Labels: none

Add FindAssignable method to User
  cloud/user.go
  cloud/user_test.go
Labels: jira-cloud

feature: add UpdateIssueWithOptions and add testing for addOptions to make clear what it does
  cloud/issue.go
  cloud/issue_test.go
  cloud/jira_test.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud

Update issue.go x2
  cloud/issue.go
  cloud/issue_test.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud

Use a better solution for bools, and update all usage of them
  cloud/filter.go
  cloud/issue.go
  cloud/issue_test.go
  cloud/jira_test.go
  onpremise/filter.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud
