Repository andygrunwald/go-jira, changes with the labels that .github/labeler.yml gives for each.
All labels: jira-onpremise, jira-cloud, documentation

.github/labeler.yml:

jira-onpremise: onpremise/**/*
jira-cloud: cloud/**/*
documentation: docs/**/*

implements board.GetIssuesForBacklog
  cloud/board.go
  cloud/board_test.go
  onpremise/board.go
  onpremise/board_test.go
  testing/mock-data/backlog_in_board.json
Labels: jira-onpremise, jira-cloud

fix: using json.Unmarshal
  onpremise/jira.go
Labels: jira-onpremise

CRUD for Custom Fields
  cloud/field.go
  onpremise/field.go
Labels: jira-onpremise, jira-cloud

feat: Add ComponentService.Update function
  cloud/component.go
  cloud/component_test.go
  cloud/examples/component_update/main.go
  testing/mock-data/component_updated.json
Labels: jira-cloud

feat: Add `IssueService.GetWorklogRecord`
  cloud/issue.go
  cloud/issue_test.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud

feat: Add `IssueService.DeleteWorklogRecord`
  cloud/issue.go
  cloud/issue_test.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud

Switch to v2 attachment/content
  cloud/issue.go
  cloud/issue_test.go
Labels: jira-cloud

fix: update comment fields of struct type to be pointers to fix json marshal for addcomment method on issue service
  cloud/issue.go
  cloud/issue_test.go
  onpremise/issue.go
  onpremise/issue_test.go
Labels: jira-onpremise, jira-cloud

Update main.go
  onpremise/examples/bearerauth/main.go
Labels: jira-onpremise

Fixed issue field cratro json tag #645
  cloud/issue.go
  onpremise/issue.go
Labels: jira-onpremise, jira-cloud

fix: update example to use correct property name
  README.md
Labels: none

CI: Update Go versions from '1.19', '1.18' to '1.23', '1.24' and fix matrix usage
  .github/workflows/testing.yml
Labels: none

CI: Upgrade staticcheck from 2022.1 to 2025.1.1
  .github/workflows/testing.yml
Labels: none
