Repository andygrunwald/go-jira, pull requests merged in 2020-05, with the labels that each got.

#292 fix(issue): IssueService.Search() with a not empty JQL triggers 400 bad request
  examples/jql/main.go
  issue.go
  issue_test.go
Labels: bug

#276 Add support for context
  authentication.go
  board.go
  component.go
  field.go
  filter.go
  group.go
  issue.go
  issuelinktype.go
  jira.go
  metaissue.go
  permissionscheme.go
  priority.go
  project.go
  request_context.go
  request_legacy.go
  resolution.go
  role.go
  sprint.go
  status.go
  statuscategory.go
  user.go
  version.go
Labels: enhancement, waiting-for-feedback

#289 feat(project): Add GitHub Actions testing workflow
  .github/workflows/testing.yml
  metaissue_test.go
Labels: enhancement

#293 chore(test): Remove unit testing log output for success cases
  issue_test.go
Labels: enhancement

#286 fix(product): Make product naming consistent, rename JIRA to Jira
  README.md
  authentication.go
  board.go
  component.go
  component_test.go
  error.go
  field.go
  filter.go
  group.go
  issue.go
  issuelinktype.go
  jira.go
  jira_test.go
  mocks/all_statuses.json
  mocks/project.json
  permissionscheme.go
  priority.go
  project.go
  resolution.go
  role.go
  sprint.go
  status.go
  statuscategory.go
  user.go
  version.go
Labels: enhancement
